@{
    ViewBag.Title = "Section";
    Layout = "~/Views/Shared/_LayoutSection.cshtml";
}

@*@RenderSection("Header")*@

<h2>Section</h2>

@Html.ActionLink("Back", "Index", new { controller = "Home" })

@section Header {
    <div>
        @foreach (string str in new List<string> { "Home", "List", "Edit" })
        {
            @Html.ActionLink(str, null, null, new { style = "margin: 5px" })
        }
    </div>
}