@model String

@{
    Layout = "_Layout.cshtml";
}

<div class="alert alert-success">Value: @Model</div>

<table>
    <tr>
        <th></th>
        <th>Inline Function</th>
        <th>Layout</th>
        <th>Section</th>
        <th>Partial</th>
        <th>Typed Partial, Tuple, ViewBag</th>
        <th>Child actions</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>